# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pot

# Confidential settings
*/settings/*
!*/settings/base.py

# Private folder
_logs/
_media/
_static/admin/

# Environment value
.venv/
.env

# Databases
*/migrations/*
!*/migrations/__init__.py
db.sqlite3